.timeline-item {
    display: block;
    flex: 1;
    width: 100%;

    input {
        font-size: inherit;
    }
}

.tag {
    font-size: 100%;
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}