.timeline-item {
    display: block;
    flex: 1;
    width: 100%;

    input {
        font-size: inherit;
    }
}

.tag.circle {
    font-size: 77%;
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        filter: invert(100%) brightness(200%);
    }
}

.tag.chip {
    border-color: var(--this-clr);

    :hover {
        background-color: var(--this-clr);
        color: var(--this-clr);

        filter: invert(100%) brightness(200%);
    }
}