.tag-chip {
    .delete-tag {
        opacity: 0;
        border-radius: 0 !important;
        block-size: 10pt !important;

        i {
            font-size: 90% !important;
            margin: 0 !important;
            padding: 0 !important;
        }
    }
}

.tag-chip:hover {
    .delete-tag {
        opacity: 1;
    }
}



.tag.circle {
    z-index: 1;
    font-size: 77%;
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        filter: invert(100%) brightness(200%);
    }
}

.tag.chip {
    border-color: var(--this-clr, var(--tertiary));
}