.tag-chip {
    .delete-tag {
        opacity: 0;
        border-radius: 0 !important;
        block-size: 10pt !important;

        i {
            font-size: 90% !important;
            margin: 0 !important;
            padding: 0 !important;
        }
    }
}

.tag-chip:hover {
    .delete-tag {
        opacity: 1;
    }
}