.timeline-item {
    display: block;
    flex: 1;
    width: 100%;
}

.act {
    font-size: xx-large !important;
}

.scene {
    font-size: x-large !important;
}

.location {
    font-size: large !important;
}

.dialogue {
    font-size: normal;
}