.drag-list {
  position: static;
  display: flex;
  width: 100%;

  .dnd-item {
    position: relative;
    white-space: wrap;
    margin: 0 0.5em;
    flex: 0 0 auto; // don’t shrink
    transition: background-color 0.1s, opacity 0.1s, transform 0.1s;
    padding: 0 0.3em 0 0;
    margin: 0 0;
    width: 100%;
    flex: 1;

    &:hover {
      background-color: var(--surface-variant);
      color: var(--on-surface-variant);
    }

    &:hover .show-on-hover {
      opacity: 1;
    }

    &.selected {
      background-color: var(--surface-bright);
      color: var(--on-surface-bright);
    }

    &.dragging {
      opacity: 0.8 !important;
    }

    &.placeholder {
      background-color: #3338;
    }

    &.drag-over {
      outline: 2pt solid var(--primary, #00f);
      background: rgba(0, 0, 255, 0.25) !important;
      filter: brightness(1.2)
    }

    .dragHandle {
      cursor: grab;
      user-select: none;
    }

    &.floating {
      position: fixed;
      left: auto;
      box-shadow: 0 6pt 12pt rgba(0, 0, 0, 0.5);
      pointer-events: none; // prevents blocking pointer events
      z-index: 9999;
      margin: 0;
      transform: translate(5%, -50%);
    }

    .clicked {
      opacity: 0.75;
    }

    .show-on-hover {
      opacity: 0;
    }

    .item-content {
      width: 100%;
      display: flex;

      .time-label {
        display: inline-block;
      }
    }

  }
}