.drag-list {

  .timeline ul {
    display: flex;
    flex-direction: row; // horizontal
    position: relative;
    overflow-x: auto;
  }

  .timeline li {
    margin: 0 0.5em;
    flex: 0 0 auto; // don’t shrink
  }

  .timeline .floating {
    transform: translate(-50%, -50%); // center floating item on cursor
  }

  .dnd-item {
    position: relative;
  }

  li {
    cursor: grab;
    user-select: none;
    transition: background-color 0.1s, opacity 0.1s, transform 0.1s;
    padding: 0;
    margin: 0;
    width: 100%;

    &.dragging {
      opacity: 0.8 !important;
    }

    &.placeholder {
      background-color: #3338;
    }

    &.drag-over {
      outline: 2pt solid var(--primary, #00f);
      background: rgba(0, 0, 255, 0.25) !important;
      filter: brightness(1.2)
    }
  }

  .floating {
    position: fixed;
    box-shadow: 0 6pt 12pt rgba(0, 0, 0, 0.5);
    pointer-events: none; // prevents blocking pointer events
    z-index: 9999;
    margin: 0;
  }

  .clicked {
    opacity: 0.75;
  }
}