.typingEditor {
    height: calc(100% - 110pt);
    overflow-y: auto;
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 0 !important;
    margin-top: 0 !important;

    .dialogueItem,
    .timelineItem {
        margin-bottom: 1em;
    }
}


:global {

    .Í¼2 .cm-gutters {
        background-color: #333 !important;
        color: #777;
        border: none !important;
    }

    .cm-gutterElement.cm-activeLineGutter {
        background-color: #777;
        color: #ddd
    }

    .cm-cursor {
        background-color: var(--primary);
        width: 1ch;
    }

    .invalid-line {
        border: 3pt dashed rgba(255, 0, 0, 0.9);
        color: white;
    }

    .cm-dialogue {
        color: black;
    }

    .cm-tooltip-autocomplete {
        background-color: var(--surface-container-high) !important;
        color: var(--on-surface) !important;
        border-radius: 1pt !important;
    }

    .cm-completionIcon {
        margin-right: 0.25rem;
    }

    .cm-selection,
    .cm-selectionBackground {
        border-radius: 0;
        background-color: #444 !important;
        color: white !important;
    }
}