.typingEditor {
    height: calc(100% - 110pt);
    overflow-y: auto;
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 0 !important;
    margin-top: 0 !important;

    .dialogueItem,
    .timelineItem {
        margin-bottom: 1em;
    }
}


:global {

    .Í¼2 .cm-gutters {
        background-color: #333 !important;
        color: #777;
        border: none !important;
    }

    .cm-gutterElement.cm-activeLineGutter {
        background-color: #777;
        color: #ddd
    }

    .cm-cursor {
        background-color: var(--primary);
        width: 1ch;
    }

    .invalid-line {
        border: 3pt dashed rgba(255, 0, 0, 0.9);
        color: white;
    }

    .cm-dialogue {
        color: black;
    }

    .cm-tooltip-autocomplete {
        background-color: var(--surface-container-high) !important;
        color: var(--on-surface) !important;
        border-radius: 1pt !important;
    }

    .cm-completionIcon {
        margin-right: 0.25rem;
    }

    .cm-selection,
    .cm-selectionBackground {
        border-radius: 0;
        background-color: #444 !important;
        color: white !important;
    }

    ////////////////
    .cm-tooltip.cm-tooltip-hover {
        background-color: var(--inverse-surface);
        color: var(--inverse-on-surface);
        border-radius: 4pt;
    }

    .cm-tooltip-tag {
        font-weight: 600;
        // border: 1pt solid var(--tag-color, #ffd166);
        background-color: var(--this-clr, white);

        span {
            color: var(--this-clr, white);
            filter: invert(100%) brightness(200%);
        }
    }

    .cm-tooltip-note {
        border-color: 1pt solid var(--note-color, #06d6a0);
    }

}