.typingEditor {
    height: calc(100% - 60pt);
    overflow-y: auto;
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;

    .dialogueItem,
    .timelineItem {
        margin-bottom: 1em;
    }
}


:global {

    .Í¼2 .cm-gutters {
        background-color: #333 !important;
        color: #777;
        border: none !important;
    }

    .cm-gutterElement.cm-activeLineGutter {
        background-color: #777;
        color: #ddd
    }
}