.component {
    position: relative;
    display: inline-flex;
    align-items: center;
    opacity: 0;

    background-color: var(--surface);

    .menu {
        position: absolute;
        left: -10em;
        min-width: 12em !important;
    }
}