.card {
    opacity: 0.9;
    outline: 1pt solid transparent;
}

.card:hover,
.card:focus-within {
    opacity: 1;
    outline: 1pt solid var(--primary);
}

.dnd-item:has(> .act) {
    background: var(--primary) !important;
    font-size: xx-large !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 10 !important;
    align-self: flex-start;
}

.scene {
    font-size: x-large !important;
}

.location {
    font-size: large !important;
}

.dialog {
    font-size: normal;
}