.dnd-item:has(> .timeline-item.act) {
    position: sticky !important;
    top: 0 !important;
    z-index: 10 !important;
    align-self: auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block-start: 0 !important;
    zoom: 60%;
}

h1 input,
h2 input,
h3 input,
h4 input,
h5 input,
h6 input {
    zoom: unset !important;
    font-size: unset !important;
}

.with-tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.character-name {
    margin-right: 0.6em;
    font-weight: bold;
    opacity: 50%;
}

.time-label {
    margin: 0 1em;
    font-weight: 100;
    opacity: 50%;
}

.block {
    width: 1em;
    height: 1em;
    background-color: var(--this-clr);
    display: inline-block;
    margin-right: 0.3em;
    top: -0.1em;
}

menu li li a {
    width: 100%;
    justify-content: flex-start;
}

/* Date input icon */
.field>:is(i, img, svg, progress, a:not(.helper, .error)) {
    inset: 50% 0 auto auto;
}

/* Fix beer */
.row.no-space {
    /* margin-block-start: 0 !important; */
    min-block-size: 2rem;
}

/* Tooltip offset for first child of the drag-and-drop list */
ul.drag-list>li:first-child .tooltip {
    margin-top: 3em;
}